<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>

	<connectionStrings>
  <add name="QLDT" connectionString="Data Source=LAPTOP-KT435D1Q;Initial Catalog=QLDTSV;Integrated Security=True;" />
  <add name="Quanlydetaikhoahc.Properties.Settings.QLDTSVConnectionString"
   connectionString="Data Source=LAPTOP-KT435D1Q;Initial Catalog=QLDTSV;Integrated Security=True"
   providerName="System.Data.SqlClient" />
 </connectionStrings>
</configuration>